.formContainer{
    width: 380px;
    min-width: 280px;
    margin: 0 2rem;
    height: 300px;
    background-color: var(--light);
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.formContainer h1{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
}

.form > div{
    margin: 1rem;
}
.containerInput{
    display: flex;
    align-items: center;
}

.containerInput > input{
    margin-left: 0.5rem;
    height: 2.5rem;
    border: 1px solid rgb(184, 170, 170);
    background-color: transparent;
    font-size: var(--size-1);
}

.inputError{
    background-color: rgba(255, 0, 0, 0.281) !important;
}

.error{
    overflow-wrap: break-word;
    font-size: 0.8rem;
    width: 200px;
    color: red;
    margin: 0 !important;
    text-align: center;
}

.form > span{
    text-align: end;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: var(--size-05);
}

.form > button,
.formContainer > button{
    width: 70%;
    margin: auto;
    height: 2.5rem;
    font-size: var(--size-1);
    font-weight: bold;
    border-radius: 1rem;
    background-color: var(--primary);
    border: 3px solid var(--primary);
    color: var(--light);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.form > button:hover,
.formContainer > button:hover{
    background-color: var(--light);
    color: var(--secondary);
}

.form > button:disabled,
.form > button:disabled:hover,
.form > button:disabled:active {
  background-color: rgb(148, 124, 124);
  border-color: rgb(148, 124, 124);
  color: var(--secondary);
  cursor: not-allowed;
}

.formContainer > span{
    margin: 1rem 0;
    font-size: var(--size-05)
}